{% extends 'base.html' %}

{% block header %}
<ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a href="{{url_for('search_recipes', user_id='no_user', form_requested=False)}}">Find Recipe</a></li>
    <li><a href="{{url_for('recipe_charts', user_id='no_user', category='cuisine')}}">Recipe Charts</a></li>
    <li><a href="{{url_for('login_register', new_register=False, login_exists=True, register_exists=False)}}" class="current_page">Login/Register</a></li>
</ul>
<ul class="side-nav" id="mobile-demo">
    <li><a href="{{ url_for('index') }}">Recipe-Connect<i class="fa fa-cutlery" aria-hidden="true"></i></a></li>
    <li><a href="{{url_for('search_recipes', user_id='no_user', form_requested=False)}}">Find Recipe</a></li>
    <li><a href="{{url_for('recipe_charts', user_id='no_user', category='cuisine')}}">Recipe Charts</a></li>
    <li><a href="{{url_for('login_register', new_register=False, login_exists=True, register_exists=False)}}" class="current_page">Login/Register</a></li>
</ul>
{% endblock header %}

{% block content %}
    {% if new_register == 'True' %}
        {% if register_exists == 'True' %}
        <h5 class="welcome_header red_text">Registered username already exists! Please try another.</h5>
        {% else %}
        <h5 class="welcome_header green_text">Registration was a success!</h5>
        {% endif %}
    {% else %}
        {% if login_exists == 'False' %}
        <h5 class="welcome_header red_text">Login username could not be found! Please try another.</h5>
        {% else %}
        <h5 class="welcome_header">Welcome to Recipe Connect! Login or Register below:</h5>
        {% endif %}
    {% endif %}
<div class="row">
    <div class="col s12">
        <form id="login-form" method="POST" action="{{ url_for('login_user', user_id=user_id) }}">
            <div class="row">
                <div class="col s12 l6 push-l3">
                    <h6>Login Here!</h6>
                    <div class="input-field col s12">
                        <!--<i class="material-icons prefix">textsms</i>-->
                        <input type="text" id="user_login_input" name="user_name" class="user_login">
                        <label for="user_login_input">Login Username</label>
                    </div>
                    <button id="submit_login" class="submit_login btn waves-effect waves-light" type="submit" value="new" name="action">Login
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <form id="register-form" method="POST" action="{{ url_for('register_user') }}">
            <div class="row">
            <div class="col s12 l6 push-l3">
                <h6>Don't have an account? Register here!</h6>
                <div class="input-field col s12">
                    <!--<i class="material-icons prefix">textsms</i>-->
                    <input type="text" id="user_register_name" name="user_name">
                    <label>New Username</label>
               </div>
                <div class="input-field col s12">
                    <!--<i class="material-icons prefix">textsms</i>-->
                    <input type="text" id="user_register_country" name="user_country">
                    <label>Your country of origin</label>
                </div>
                <button id="submit_register" class="submit_register btn waves-effect waves-light" type="submit" name="action">Register
                    <i class="material-icons right">send</i>
                </button>
            </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
    $("#submit_register").on("click", function(e){
        if ($('#user_register_name').val().length == 0){
            e.preventDefault();
            return alert("Registration Name field empty! Cannot submit without it.");
        }
        if ($('#user_register_country').val().length == 0){
            e.preventDefault();
            return alert("Registration Country field empty! Cannot submit without it.");
        } 
    })
    $("#submit_login").on("click", function(e){
        if ($('#user_login_input').val().length == 0){
            e.preventDefault();
            return alert("Login Name field empty! Cannot submit without it.");
        }
    })
</script>
{% endblock scripts %}